.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: calc(100% - 100px);
    transform: translate3d(-50%, 0, 0);
    left: 50%;

    &__siteName {
        margin: 15px 0px;
        font-size: 1.3em;
    }

    &__links {
        margin: 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin: 0px 10px;
        }
    }

    &__copyright {
        margin: 15px 0px;
    }
}